<h1>Create Posts</h1>

<form action="/admin/posts/create" method="post" enctype="multipart/form-data" >

<div class="form-group">
    <label for="title">TITLE</label>

    <input name="title"  type="text"  class="form-control" id="title" placeholder="Enter title">
</div>
<div class="form-group">
    <label for="file">FILE</label>
    <input name="file"  type="file"  class="form-control" >
</div>
<div class="form-group">
    <label for="title">TITLE</label>

     <textarea name="body"    class="form-control" id="body" placeholder="Enter title" ></textarea>
</div> 
 
<div class="form-group">
    <label for="status">status</label>

     <select name="status" id="status" class="form-control">
         <option value="public">public</option>
         <option value="private">private</option>
          <option value="draft">draft</option>
     </select>
</div>
 

<button type="submit">Create post</button>

</form>