<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
       
    </tr>
  </thead>
  <tbody>
      {{#each posts}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{title}}</td>
      <td>{{status}}</td>
       
    </tr>
    {{/each}}
     
  </tbody>
</table>